<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>McCalorie Counter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/mcdonalds.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Rubik' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='images/mcdonalds-logo.png') }}" style="width: 64px; height: auto;">
        <h1 id="title">McCalorie Counter</h1>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>