<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>McCalorie Counter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/mcdonalds.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Rubik' rel='stylesheet'>
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='images/default.webp') }}">
        <h1 id="title">McCalorie Counter</h1>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>